@using MovieDB.Models.Database
@using MovieDB.Services.Interfaces
@inject IImageService _imageService
@model Movie

@*Movie*@
<div class="row flex-sm-fill">
    <div class="col align-content-center">
        <div class="row">
            <div class="col-8">
                <img class="h-100 w-100" src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" alt="..."/>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button class="btn btn-lg btn-block btn-danger font-weight-bold align-content-sm-center mb-5" data-toggle="modal" data-target="#trailer">WATCH TRAILER</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">TITLE:</span> @Model.Title
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">RELEASED:</span> @Model.ReleaseDate
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">RATING:</span>

                @*adding dashes to the ratings that require it to be added*@
                @if (Model.Rating == MovieDB.Enums.MovieRating.PG13) 
                {
                    ViewData["Rating"] = "PG-13";
                }

                else if (Model.Rating == MovieDB.Enums.MovieRating.NC17)
                {
                    ViewData["Rating"] = "NC-17";
                }

                else
                {
                    ViewData["Rating"] = Model.Rating.ToString();
                }

                @ViewData["Rating"]
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">REVIEWS:</span> @Math.Round(Model.VoteAverage, 1) / 10
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">OVERVIEW:</span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="h5">@Model.Overview</span>
            </div>
        </div>
    </div>
</div>

 @*Cast*@
    @foreach(var actor in Model.Cast.Take(5))
    {
        <div class="row mt-5">
            <div class="col-12">
                <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="@actor.ImageUrl" alt="..." class="img-fluid" style="width: 10rem"/>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body pl-sm-0 pl-md-3">
                            <h5 class="card-title"><a asp-action="Details" asp-controller="Actors" asp-route-id="@actor.CastID">@actor.Name</a></h5>
                            <p class="card-text">@actor.Character</p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
            
    }

@*Modal*@
<div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="trailerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    @{
                        // Isolating a piece of data in order to use it as embed source
                        var key = Model.TrailerUrl.Split("=").Last();
                        var source = $"https://www.youtube.com/embed/{key}";
                    }

                    <iframe id="ytFrame" width="560" height="315" src="@source" frameborder="0"
                            title="YouTube video player" frameboard="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>